# Recap: Last Lecture We disccussed

- Regression<br><br>
- Ordinary Least Squares Method<br><br>
- Assumptions of Regression<br><br>
- Mathematical Derivation of Ordinary Least Squares for Parameter Estimation<br><br>
- Python Implementation of Regression using OLS Parameter Estimation from scratch<br><br>
- Python Implementation of Regression using Linear Regression from **scikit learn.linear_model.LinearRegression()** as well as **statsmodels.OLS()**<br><br><br>
- ANOVA (Analysis of Variance)<br><br>
- 1 way vs 2 way ANOVA<br><br>
- Mathematical Formulation of One way ANOVA<br><br>

<table style="margin: 10px; padding: 10px; border-collapse: collapse; border: 2px solid black;">
  <tr>
    <th style="padding: 10px; border: 2px solid black;">Aspect</th>
    <th style="padding: 10px; border: 2px solid black;">1-Way ANOVA</th>
    <th style="padding: 10px; border: 2px solid black;">2-Way ANOVA</th>
    <th style="padding: 10px; border: 2px solid black;">MANOVA</th>
  </tr>
  <tr>
    <td style="padding: 10px; border: 2px solid black;">Purpose</td>
    <td style="padding: 10px; border: 2px solid black;">Test differences across 1 factor.</td>
    <td style="padding: 10px; border: 2px solid black;">Test differences across 2 factors and their interaction.</td>
    <td style="padding: 10px; border: 2px solid black;">Test differences across multiple dependent variables.</td>
  </tr>
  <tr>
    <td style="padding: 10px; border: 2px solid black;">Independent Vars</td>
    <td style="padding: 10px; border: 2px solid black;">1 factor</td>
    <td style="padding: 10px; border: 2px solid black;">2 factors</td>
    <td style="padding: 10px; border: 2px solid black;">1 or more factors</td>
  </tr>
  <tr>
    <td style="padding: 10px; border: 2px solid black;">Dependent Vars</td>
    <td style="padding: 10px; border: 2px solid black;">1 continuous</td>
    <td style="padding: 10px; border: 2px solid black;">1 continuous</td>
    <td style="padding: 10px; border: 2px solid black;">2 or more continuous</td>
  </tr>
  <tr>
    <td style="padding: 10px; border: 2px solid black;">Interaction</td>
    <td style="padding: 10px; border: 2px solid black;">Not considered</td>
    <td style="padding: 10px; border: 2px solid black;">Considered</td>
    <td style="padding: 10px; border: 2px solid black;">Not considered (interaction within DVs possible separately)</td>
  </tr>
  <tr>
    <td style="padding: 10px; border: 2px solid black;">Example</td>
    <td style="padding: 10px; border: 2px solid black;"><b>Effect of fertilizer on growth.</b></td>
    <td style="padding: 10px; border: 2px solid black;"><b>Effect of fertilizer and watering on growth.</b></td>
    <td style="padding: 10px; border: 2px solid black;"><b>Effect of fertilizer on growth and chlorophyll content.</b></td>
  </tr>
</table>

# Assumptions of ANOVA

<div style='text-align:center'><img src="/home/aayush/Documents/Kings/Week2/images/anova_assumtions.png" height="600"></div>

<br><br>
# Normality Assumption


<div style='text-align:center'><img src="/home/aayush/Documents/Kings/Week2/images/normality.png" height="600"></div><br><br><br>
<div style='text-align:center'><img src="/home/aayush/Documents/Kings/Week2/images/normality_2.png" height="600"></div>

<br><br>
# Homogenity of Variances


<div style='text-align:center'><img src="/home/aayush/Documents/Kings/Week2/images/variance_homogenity.png" height="600"></div><br><br><br>
<div style='text-align:center'><img src="/home/aayush/Documents/Kings/Week2/images/variance_homogenity_remedy.png" height="600"></div>

<br><br>
# Independent Assumptions


<div style='text-align:center'><img src="/home/aayush/Documents/Kings/Week2/images/independence_assumption.png" height="600"></div><br><br><br>
<div style='text-align:center'><img src="/home/aayush/Documents/Kings/Week2/images/independent_assumption.png" height="600"></div>

# Let's Move on to 2 Way Anova

- 2 independent variables (Factors) vs 1 dependent Factor

<div style='text-align:center'><img src="/home/aayush/Documents/Kings/Week2/images/2_way_anova.png" height="600"></div><br><br>
<div style='text-align:center'><img src="/home/aayush/Documents/Kings/Week2/images/2_way_anova_relations.png" height="600"></div>

# Hypothesis

<div style='text-align:center'><img src="/home/aayush/Documents/Kings/Week2/images/2_way_anova_hypothesis.png" height="600"></div><br><br>
<div style='text-align:center'><img src="/home/aayush/Documents/Kings/Week2/images/2_way_SST.png" height="600"></div><br><br>
<div style='text-align:center'><img src="/home/aayush/Documents/Kings/Week2/images/SSE_demonstration.png" height="600"></div><br><br>
<div style='text-align:center'><img src="/home/aayush/Documents/Kings/Week2/images/SSE_demonstration2.png" height="600"></div>

# **ANCOVA**

- WE will go in this after this completion meanwhile let's understand ANCOVA Terminology

## **Analysis of Covariance**
<div style='text-align:center'><img src="/home/aayush/Documents/Kings/Week2/images/ancova.png" height="600"></div><br><br>

<h2>It basically adjust the effects of covariate on the dependent variable before accounting for the relationship between independent and dependent variable</h2>
<div style='text-align:center'><img src="/home/aayush/Documents/Kings/Week2/images/ancova_formula.png" height="600"></div><br><br>


- Example of Students GPA (Dependent Variable: GPA or Percentage) Covariate(Pre-Test Score or Mock Exam Marks) and Independent Variables(Level of Study, College etc)

# Now let's explore python Implementation 2 way ANOVA **(from Scratch)** as well as using statsmodels api

In [1]:
import statsmodels.api as sm
import numpy as np
from statsmodels.formula.api import ols
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

<img src="images/2_way_anova_data.png" height=400px>

In [2]:
data = pd.read_csv("data_gender_drug.csv")
data.sample(10)

   drug  gender  dv
18    B  female   2
13    B    male   7
9     A  female   6
1     A    male   4
15    B  female   3
7     A  female   5
17    B  female   9
14    B    male   5
3     A    male   9
19    B  female   3

### Using pivot_table to pivot the table to Gender vs Drugs and Effect as value

In [3]:
pivot_data = data.pivot_table(index="gender", columns="drug", values="dv", aggfunc=list)
print("-" * 75)
pivot_mean = data.pivot_table(
    index="gender", columns="drug", values="dv", aggfunc="mean"
)
print("Means of Groups in Data (Drugs vs Gender): \n", pivot_mean)
print("-" * 75)
print("Aggregated Data into list for grouping according to groups: \n", pivot_data)
print("-" * 75)
mean_gender = data.groupby("gender")["dv"].mean()
print("Mean Values for Gender: \n", mean_gender)
print("-" * 75)
mean_drug = data.groupby("drug")["dv"].mean()
print("Mean Values for Drug: \n",mean_drug)
print("-" * 75)

---------------------------------------------------------------------------
Means of Groups in Data (Drugs vs Gender):
 drug      A    B
gender
female  6.0  4.4
male    5.8  5.4
---------------------------------------------------------------------------
Aggregated Data into list for grouping according to groups:
 drug                  A                B
gender
female  [8, 3, 5, 8, 6]  [3, 5, 9, 2, 3]
male    [6, 4, 7, 9, 3]  [4, 5, 6, 7, 5]
---------------------------------------------------------------------------
Mean Values for Gender:
 gender
female    5.2
male      5.6
Name: dv, dtype: float64
---------------------------------------------------------------------------
Mean Values for Drug:
 drug
A    5.9
B    4.9
Name: dv, dtype: float64
---------------------------------------------------------------------------

### Caluculating SST (Sum of Squares Total)

General Model Equation for 2 way ANOVA
\begin{equation}
Y_{ijk} = \mu + \alpha_i + \beta_j + (\alpha \beta)_{ij} + \epsilon_{ijk}
\end{equation}
The total sum of squares is calculated as:
\begin{equation}
SST = \sum_{i=1}^{a} \sum_{j=1}^{b} \sum_{k=1}^{n_{ij}} (Y_{ijk} - \bar{Y}_{..})^2
\end{equation}

In [4]:
SST = np.sum((data["dv"] - data["dv"].mean()) ** 2)
df_tot = 20 - ((data.gender.nunique() - 1) * (data.drug.nunique() - 1))
print("Sum of Squares total: ", SST)
print("Total degree of Freedom: ", df_tot)
X_hat = data["dv"].mean()
print("Total Mean(X_hat): ", X_hat)

variance_total = SST/df_tot
print("Total Variance: ",variance_total)

Sum of Squares total:  84.80000000000001
Total degree of Freedom:  19
Total Mean(X_hat):  5.4
Total Variance:  4.463157894736843

### Calculating Between Variance

$$
SSB = \sum_{j=1}^{b} n_j \left( \bar{Y}_{.j.} - \bar{Y}_{..} \right)^2
$$

In [5]:
SS_bet = 5 * ((pivot_mean - X_hat) ** 2).sum().sum()
print("Sum of Squares Between: ", SS_bet)
df_bet = 2 * 2 - 1
print("degree of freedom between: ", df_bet)
variance_bet = SS_bet/df_bet
print("Total Variance: ",variance_bet)

Sum of Squares Between:  7.599999999999996
degree of freedom between:  3
Total Variance:  2.533333333333332

In [6]:
SST-SS_bet ### We get the Sum of Squares of the residual term

77.20000000000002

### Sum of Squares of Factor A Calculation (Drug)

$$
SSA = \sum_{i=1}^{a} n_i \left( \bar{Y}_{i..} - \bar{Y}_{..} \right)^2
$$

In [7]:
mean_drug

drug
A    5.9
B    4.9
Name: dv, dtype: float64

In [8]:
# For drug

# n = no of samples in the group
n = 5 * 2

SS_A = 10 * np.sum((mean_drug - X_hat) ** 2)
print("Sum of Squared Sum of A: ", SS_A)
print("Degree of Freedom of A: ",2-1)
variance_A = SS_A/1
print("Total Variance of Drug: ",variance_A)

Sum of Squared Sum of A:  5.0
Degree of Freedom of A:  1
Total Variance of Drug:  5.0

### Sum of Squares of Factor B Calculation (Gender)

$$
SSB = \sum_{j=1}^{b} n_j \left( \bar{Y}_{.j.} - \bar{Y}_{..} \right)^2
$$

In [9]:
# For Gender

# n = no of samples in the group
n = 5 * 2

SS_B = 10 * np.sum((mean_gender - X_hat) ** 2)
print("Sum of Squared Sum of A: ", SS_B)
print("Degree of Freedom of A: ",2-1)
variance_B = SS_B/1
print("Total Variance of Drug: ",variance_B)

Sum of Squared Sum of A:  0.7999999999999979
Degree of Freedom of A:  1
Total Variance of Drug:  0.7999999999999979

### For Interaction Term (Gender X Drug)

$$
SSAB = \sum_{i=1}^{a} \sum_{j=1}^{b} n_{ij} \left( \bar{Y}_{ij.} - \bar{Y}_{i..} - \bar{Y}_{.j.} + \bar{Y}_{..} \right)^2
$$

In [10]:
SS_AB = SS_bet - SS_A - SS_B
print("Sum of Squared Sum of Interaction Term AB(Gender and Drug): ", SS_AB)
df_AB = (2-1)*(2-1)
variance_bet = SS_AB/df_AB
print("Total Variance of Interaction Term AB(Gender and Drug): ", variance_bet)

Sum of Squared Sum of Interaction Term AB(Gender and Drug):  1.799999999999998
Total Variance of Interaction Term AB(Gender and Drug):  1.799999999999998

### Computing Square Sum of Error (Residual)

$$
SSE = \sum_{i=1}^{a} \sum_{j=1}^{b} \sum_{k=1}^{n_{ij}} (Y_{ijk} - \bar{Y}_{ij.})^2
$$

In [11]:
SS_err = 0
for gender in ['male','female']:
    for drug in ['A','B']:
        SS_err += np.sum((np.array(pivot_data.loc[gender,drug])-pivot_mean.loc[gender,drug])**2)

In [12]:
print("Sum of Error of Residual: ", SS_err)
df_err = df_tot - df_AB - 1 - 1  # 1 and 1 are df for individual terms A and B
df_err
variance_error = SS_err / df_err
print("Variance of Error Terms(Residuals): ", variance_error)

Sum of Error of Residual:  77.2
Variance of Error Terms(Residuals):  4.825

### For degree of Freedom
$$
df_A = a - 1, \quad df_B = b - 1, \quad df_{AB} = (a - 1)(b - 1), \quad df_E = ab(n - 1), \quad df_T = abn - 1
$$

### Mean Square Values or Variances
$$
MSA = \frac{SSA}{df_A}, \quad MSB = \frac{SSB}{df_B}, \quad MSAB = \frac{SSAB}{df_{AB}}, \quad MSE = \frac{SSE}{df_E}
$$

### Calculating the F values

$$
F_A = \frac{MSA}{MSE}, \quad F_B = \frac{MSB}{MSE}, \quad F_{AB} = \frac{MSAB}{MSE}
$$

In [13]:
F_A = variance_A / variance_error
print("F value of F_A: ", F_A)
F_B = variance_B / variance_error
print("F value of F_B: ", F_B)
F_bet = variance_bet / variance_error
print("F value of Interaction: ", F_bet)

F value of F_A:  1.0362694300518134
F value of F_B:  0.16580310880828972
F value of Interaction:  0.37305699481865245

$$
p = P(F_{\text{calculated}} > F_{\text{critical}})
$$

In [14]:
from scipy.stats import f

print("P Value Corresponding to our F statistics drug: ", f"{1 - f.cdf(F_A, 1, 16)}")
print("P Value Corresponding to our F statistics gender: ", f"{1 - f.cdf(F_B, 1, 16)}")
print("P Value Corresponding to our F statistics drug x gender: ", f"{1 - f.cdf(F_bet, 1, 16)}")

P Value Corresponding to our F statistics drug:  0.3238375983492294
P Value Corresponding to our F statistics gender:  0.6892646297178505
P Value Corresponding to our F statistics drug x gender:  0.5499215848880679

### Directly Implementing 2 way ANOVA using Ordinary Least Squares function from statsmodels.ols

In [15]:
model = ols(
    "dv ~ C(drug)*C(gender)",
    data=data,
).fit()
sm.stats.anova_lm(model, typ=1)  # Type 2 ANOVA DataFrame

                     df  sum_sq  mean_sq         F    PR(>F)
C(drug)             1.0     5.0    5.000  1.036269  0.323838
C(gender)           1.0     0.8    0.800  0.165803  0.689265
C(drug):C(gender)   1.0     1.8    1.800  0.373057  0.549922
Residual           16.0    77.2    4.825       NaN       NaN

In [20]:
print(model.aic.__doc__)

91.7708849977217

In [16]:
model = ols(
    "dv ~ C(drug)+C(gender)+C(drug):C(gender)",
    data=data,
).fit()
sm.stats.anova_lm(model, typ=1)  # Type 2 ANOVA DataFrame

                     df  sum_sq  mean_sq         F    PR(>F)
C(drug)             1.0     5.0    5.000  1.036269  0.323838
C(gender)           1.0     0.8    0.800  0.165803  0.689265
C(drug):C(gender)   1.0     1.8    1.800  0.373057  0.549922
Residual           16.0    77.2    4.825       NaN       NaN

In [22]:
print(model.__doc__)

    Results class for for an OLS model.

    Parameters
    ----------
    model : RegressionModel
        The regression model instance.
    params : ndarray
        The estimated parameters.
    normalized_cov_params : ndarray
        The normalized covariance parameters.
    scale : float
        The estimated scale of the residuals.
    cov_type : str
        The covariance estimator used in the results.
    cov_kwds : dict
        Additional keywords used in the covariance specification.
    use_t : bool
        Flag indicating to use the Student's t in inference.
    **kwargs
        Additional keyword arguments used to initialize the results.

    See Also
    --------
    RegressionResults
        Results store for WLS and GLW models.

    Notes
    -----
    Most of the methods and attributes are inherited from RegressionResults.
    The special methods that are only available for OLS are:

    - get_influence
    - outlier_test
    - el_test
    - conf_int_el

In [25]:
print(model.outlier_test.__doc__)

        Test observations for outliers according to method.

        Parameters
        ----------
        method : str
            The method to use in the outlier test.  Must be one of:

            - `bonferroni` : one-step correction
            - `sidak` : one-step correction
            - `holm-sidak` :
            - `holm` :
            - `simes-hochberg` :
            - `hommel` :
            - `fdr_bh` : Benjamini/Hochberg
            - `fdr_by` : Benjamini/Yekutieli

            See `statsmodels.stats.multitest.multipletests` for details.
        alpha : float
            The familywise error rate (FWER).
        labels : None or array_like
            If `labels` is not None, then it will be used as index to the
            returned pandas DataFrame. See also Returns below.
        order : bool
            Whether or not to order the results by the absolute value of the
            studentized residuals. If labels are provided they will also be
            sorted.
        cutoff : None or float in [0, 1]
            If cutoff is not None, then the return only includes observations
            with multiple testing corrected p-values strictly below the cutoff.
            The returned array or dataframe can be empty if t.

        Returns
        -------
        array_like
            Returns either an ndarray or a DataFrame if labels is not None.
            Will attempt to get labels from model_results if available. The
            columns are the Studentized residuals, the unadjusted p-value,
            and the corrected p-value according to method.

        Notes
        -----
        The unadjusted p-value is stats.t.sf(abs(resid), df) where
        df = df_resid - 1.

In [26]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                     dv   R-squared:                       0.090
Model:                            OLS   Adj. R-squared:                 -0.081
Method:                 Least Squares   F-statistic:                    0.5250
Date:                Sat, 18 Jan 2025   Prob (F-statistic):              0.671
Time:                        17:57:52   Log-Likelihood:                -41.885
No. Observations:                  20   AIC:                             91.77
Df Residuals:                      16   BIC:                             95.75
Df Model:                           3
Covariance Type:            nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
Intercept                          6.0000      0.982      6.108      0.000       3.918       8.082
C(drug)[T.B]                      -1.6000      1.389     -1.152      0.266      -4.545       1.345
C(gender)[T.male]                 -0.2000      1.389     -0.144      0.887      -3.145       2.745
C(drug)[T.B]:C(gender)[T.male]     1.2000      1.965      0.611      0.550      -2.965       5.365
==============================================================================
Omnibus:                        1.184   Durbin-Watson:                   2.565
Prob(Omnibus):                  0.553   Jarque-Bera (JB):                0.899
Skew:                           0.491   Prob(JB):                        0.638
Kurtosis:                       2.658   Cond. No.                         6.85
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# Assignment

### Using car_data dataset from our previous session Compute 2 Way ANOVA from Scratch

- Dependent Variable **conformity** or **fscore** (you can take any)
- Independent Variable **partner_status** and **conformity**

In [6]:
moore = sm.datasets.get_rdataset("Moore", "carData", cache=True)  # load data
# Printing all the values we have in the moore dataset
print(moore.keys())
print(moore.title)
data = moore.data
data = data.rename(columns={"partner.status": "partner_status"})  # make name

dict_keys(['data', '__doc__', 'package', 'title', 'from_cache'])
Status, Authoritarianism, and Conformity

In [7]:
data.shape

(45, 4)

In [8]:
data.sample(10)

   partner_status  conformity fcategory  fscore
25           high           9      high      63
34           high           8    medium      42
39           high           7    medium      50
9             low          12       low      36
33           high          20    medium      44
20            low           8       low      17
31           high          16    medium      45
12            low           7       low      28
6             low          12    medium      51
28           high          17    medium      48

In [36]:
moore_lm = ols(
    "fscore ~ C(partner_status)",
    data=data,
).fit()
sm.stats.anova_lm(moore_lm, typ=1)  # Type 2 ANOVA DataFrame

                     df       sum_sq     mean_sq         F    PR(>F)
C(partner_status)   1.0     7.932587    7.932587  0.038212  0.845939
Residual           43.0  8926.511858  207.593299       NaN       NaN

In [42]:
moore_lm = ols(
    "fscore ~ C(partner_status)+C(fcategory)+C(partner_status):C(fcategory)",
    data=data,
).fit()
sm.stats.anova_lm(moore_lm, typ=1)  # Type 2 ANOVA DataFrame

,df,sum_sq,mean_sq,F,PR(>F)
C(partner_status),1.0,7.932587,7.932587,0.231555,6.330623e-01
C(fcategory),2.0,7561.365635,3780.682818,110.359336,8.768957e-17
C(partner_status):C(fcategory),2.0,29.086807,14.543403,0.424527,6.570656e-01
Residual,39.0,1336.059416,34.257934,NaN,NaN

In [43]:
print(moore_lm.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 fscore   R-squared:                       0.850
Model:                            OLS   Adj. R-squared:                  0.831
Method:                 Least Squares   F-statistic:                     44.36
Date:                Thu, 16 Jan 2025   Prob (F-statistic):           4.57e-15
Time:                        16:25:14   Log-Likelihood:                -140.15
No. Observations:                  45   AIC:                             292.3
Df Residuals:                      39   BIC:                             303.1
Df Model:                           5
Covariance Type:            nonrobust
===================================================================================================================
                                                      coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------------------------
Intercept                                          57.8571      2.212     26.153      0.000      53.382      62.332
C(partner_status)[T.low]                            1.2679      3.029      0.419      0.678      -4.859       7.395
C(fcategory)[T.low]                               -34.2571      3.427     -9.996      0.000     -41.189     -27.325
C(fcategory)[T.medium]                            -14.4026      2.830     -5.089      0.000     -20.127      -8.679
C(partner_status)[T.low]:C(fcategory)[T.low]        3.7321      4.411      0.846      0.403      -5.189      12.653
C(partner_status)[T.low]:C(fcategory)[T.medium]     0.2776      4.567      0.061      0.952      -8.959       9.515
==============================================================================
Omnibus:                        0.460   Durbin-Watson:                   2.595
Prob(Omnibus):                  0.795   Jarque-Bera (JB):                0.593
Skew:                           0.054   Prob(JB):                        0.744
Kurtosis:                       2.448   Cond. No.                         10.1
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.